body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f5; /* Color de fondo */
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Degradado oscuro */
    color: #ffffff; /* Color blanco */
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
}

nav {
    background-color: #66b2ff; /* Color azul claro */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff; /* Color blanco */
    font-weight: bold;
    font-size: 16px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff; /* Color blanco */
}

h2 {
    color: #006600; /* Color verde oscuro */
}

footer {
    background-color: #004080; /* Color azul oscuro */
    color: #ffffff; /* Color blanco */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
