body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f5; /* Color de fondo */
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Degradado oscuro */
    color: #ffffff; /* Color blanco */
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.5em; /* Tamaño de fuente base */
}

/* Media query para pantallas más grandes (ordenadores) */
@media (min-width: 768px) {
    header h1 {
        font-size: 2em; /* Ajustar el tamaño de fuente para pantallas más grandes */
    }

    /* Ancho del contenido con margen del 15% en cada lado */
    body {
        max-width: 70%; /* Deja un 15% de margen a cada lado (100% - 2*15%) */
        margin: 0 auto; /* Centra el contenido */
    }
}

nav {
    background-color: #66b2ff; /* Color azul claro */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff; /* Color blanco */
    font-weight: bold;
    font-size: 16px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff; /* Color blanco */
}

h2 {
    color: #006600; /* Color verde oscuro */
}

/* Estilos para la sección del Programa con columnas */
section#programa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.columna {
    flex: 0 0 48%; /* Establece el ancho de cada columna */
    margin: 10px;
}

footer {
    background-color: #004080; /* Color azul oscuro */
    color: #ffffff; /* Color blanco */
    text-align: center;
    padding: 10px;
    width: 100%; /* Ajuste del ancho al 100% */
    position: fixed;
    bottom: 0;
}
